*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
}

.background{
  background: url("../images/lightbkg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

header{
  background-color: rgba(0,0,0,.5);
  padding: 4px;
}


header h1{
  text-align: center;
  margin:20px;
  font-family: 'Amatic SC', cursive;
}

header h1 a{
  color: white;
  text-transform: uppercase;
}

nav{
  text-align: center;
}

header nav li{
  display: inline;
  padding:0 18px;
  border-right: 1px solid #bbb;

}

header nav li:last-child {
    border-right: none;
}

ul{
  overflow:hidden;
}

nav ul li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width:1000px){
  header nav li{
    padding: 0 10px;
  }
}

.toggle{
  width: 100%;
  padding: 10px 20px;
  /*background: #001f44;*/
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

@media (max-width:800px){
    .toggle{
      display: block;
    }
    header nav ul{
      width: 100%;
      display: none;
    }
    header nav li{
      display: block;
      text-align: center;
      border: none;
      padding: 10px;
    }
    .act{
      display: block;
    }
}

.intro{
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

div .intro p{
  max-width: 800px;
  padding: 0 15px;
  line-height: 2;
  text-align: center;
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  background-color:rgba(0,0,0,.2);
}


.introimg{
    width: 100%;
    background-size: cover;
    max-height: 603px;
    margin-top: -18px;
}


.label{
  position: relative;
}

.text-block{
  position: absolute;
  top: 50% ;
  left: 14%;
  color: rgb(48, 189, 255);
  background-color:rgba(255, 255, 255, 0.75);
  padding: 18px 25px 10px;
  animation-name: animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}

@-webkit-keyframes animation {
  from {top:500px}
  to {top:200px;}
}

@media (max-width:500px){
  .text-block{
      top:66%;
      padding: 6px 0 3px;
  }
  @-webkit-keyframes animation {
    from {top:130px}
    to {top:110px;}
  }
}


/*about*/
.bubblebkg{
  background-image: url("../images/bubbles.jpg");
  background-attachment: fixed;
}

.about{
    background-color: rgba(236, 178, 102, 0.85);
    padding: 43px;
    width: 974px;
    margin: auto;
    border:8px solid black;
    text-align: center;
  }

  .about .row .column h1{
    font-family: Amatic sc ,cursive;
    color: #ffffff;
    line-height: 17px;
  }

  .about .row .column h4{
    font-family: Amatic sc ,cursive;
    font-weight: bold;
    color: #605E5E;
  }

  div .about .row .column, p{
    color: #ffffff;
  }

  .edu, .hometown{
    color: #605E5E;
  }

.row{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex:50%;
  padding: 15px;
  max-width: 50%;
}

.photographer{
  width: 390px;
  height: 398px;
  object-fit: cover;
  border:5px solid rgba(96, 94, 94, 1);
}

@media (max-width:1000px){
  .about{
    width: 100%;
    padding: 40px;
  }
  .photographer, .slideImg{
    flex: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width:800px){
  .column{
    flex: 100%;
    max-width: 100%
  }
  .demo{
    height: auto;
    max-width: 100%;
  }
}

/*services*/
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

li a.active{
  color: #A0A09F;
}

li a:hover, .drop:hover .dropbtn{
    color: #A0A09F;
    text-decoration: none;
}

 header h1 a:hover{
   text-decoration: none;
   color: white;
 }

li.drop {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 131px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.drop:hover .dropdown-content {
    display: block;
}

.officebkg{
  background-image: url("../images/office.jpg");
  background-attachment: fixed;
}

.pic{
  justify-content: center;
}

.photosec h4{
  color: #605E5E;
  font-size: 40px;
}

.photosec p{
  margin: auto;
  color:black;
}

.note{
  text-decoration: underline;
}

.img{
  flex:33%;
}

 .img span{
   text-decoration: underline;
   font-weight: bold;
 }

 .img p{
   color: black;
 }

.servicefooter{
  color: white;
}

/*wedding*/
.weddingdressbkg{
  background-image: url("../images/weddingdress.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*.wedpak{
  max-width: 36%;
  margin-right: 85px;
}*/

.wedpak h4, span{
   color: black;
   text-decoration: underline;
   font-weight: bold;
 }

 .wedpak p{
   color: black;
 }

.wed h4{
  flex: 67%;
  text-align: right;
    font-size: 40px;
}

.wed p{
  text-align: center;
  color: black;

}

.wedimg{
  float: left;
}

.wedimg img{
  width: 198px;
  margin-bottom: 18px;
  border: solid 5px rgba(160, 160, 159, 1)
}

/*family*/
.familybkg{
  background-image: url("../images/familyportrait.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.famimg{
  float: left;
}

.famimg img{
  width: 198px;
  margin-bottom: 18px;
  border: solid 5px rgba(160, 160, 159, 1)
}

.fampak h4{
  flex: 67%;
  font-size: 40px;
}

.fampak span{
   color: black;
   text-decoration: underline;
   font-weight: bold;
 }

 .fampak p{
   color: black;
 }

/*graduation*/
.graduationbkg{
  background-image: url("../images/graduation.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.gradimg h4{
  flex: 67%;
  font-size: 40px;
}

.gradimg p, .gradpak p, span{
  color: black;
}

.gradimg img{
  border: solid 5px rgba(160, 160, 159, 1)
}

.gradpak h4{
  text-align: right;
}

.gradpak span{

   text-decoration: underline;
   font-weight: bold;
 }

/*schedule*/
.meditatebkg{
  background-image: url("../images/meditate.jpg");
  background-attachment: fixed;
}

.schedule h4{
  text-align: left;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  margin-bottom: 24px;
}


/*schedule*/
.meditatebkg{
  background-image: url("../images/meditate.jpg");
  background-attachment: fixed;
}

.schedule h4{
  text-align: left;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  margin-bottom: 24px;
}



/*works*/
.boatbkg{
  background-image: url("../images/boat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.works h4{
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  margin-bottom: 24px;
}

.works{
  margin: auto;
}

.container1{
  position: relative;
}

.mySlides{
  display: none;
}

.cursor{
  cursor: pointer;
}

.slideImg{
  height:436px;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column1 {
  float: left;
  width: 16.66%;
  height: auto;
  overflow: hidden;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 120px;
}

@media (max-width:800px){
  .demo{
    height: 60px;
    max-width: 100%;
  }
}

.active,
.demo:hover {
  opacity: 1;
}

/*contact*/
.mountainbkg{
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact h4{
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  margin-bottom: 24px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.contact{
  margin: auto;
}



/*faq*/

.faq h4{
  text-align: center;
  color: black ;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-bottom: 24px;
}

.faq{
  max-width: 100%
}

.questions{
  text-align: left;
}

.questions span{
  color: white;
  background-color: black;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.questions p{
  color: black;
  margin-bottom: 25px;
  font-size: 17px;
}


footer{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
  padding: 60px 0;
}

footer ul li{
    display: inline;
    padding:35px;
}

footer p a{
  color: white;

}
